@mixin margin_align {
  margin-left: auto;
  margin-right: auto;
}

@import "../styles/fonts";

$bene_red: #ba3027;
$bene_red_alpha: #ba312730;
$bene_red_2: #a52820;
$bene-beige-2: #f4f4e8;
$bene_font_1: "Uni Sans";
$bene_font_4: "Inter", sans-serif;
$bene_font_2: "Work Sans", sans-serif;
$bene_font_3: "Space Mono", monospace;
$bene_font_5: "Jet Brains";
