@import "./variables";
@import "./components";

body {
  margin: 0;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  float: right;
  height: 100vh;
  width: 0px;
  background: #f9f9f9;
  z-index: 50;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  text-align: -webkit-center;
  a {
    font-family: $bene_font_4;
    opacity: 0.7;
    color: #fff;
    padding: 20px;
    margin: 0px 0px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    display: block;
    transition: 0.3s;
    border-radius: 5px;
    text-decoration: none;
    width: 200px;
    img {
      height: 40px;
    }
    input {
      margin: 20px;
      width: 300px;
    }
  }
  div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
    width: 250px;
  }
}

.header-mobile {
  display: none;
  height: 100px;

  width: 100%;
  z-index: 100;
  div {
    max-width: 1600px;
    padding: 0px 15px;
    display: grid;
    grid-template-columns: 100% 1fr;
    margin-left: auto;
    margin-right: auto;

    a {
      .bene-logo {
        height: 90px;
      }
    }
  }
}

.ham-menu {
  display: grid;
  position: absolute;
  left: 1;
  top: 40px;
}

.close-menu {
  display: none;
  position: absolute;
  left: 1;
  top: 40px;
  z-index: 101;
}

.intro {
  background-color: $bene_red;
  height: 95vh;
  justify-self: center;
  .intro-content {
    display: grid;
    justify-items: center;
    margin-top: 9vh;
    .brands-x-crisis {
      align-self: flex-end;
      box-sizing: border-box;
      background-image: url(../assets/brands-x-crisis.svg);
      width: 80%;
      height: 60vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-left: -40px;
    }
  }
  .header {
    display: grid;
    grid-template-columns: auto auto 380px auto auto;
    grid-gap: 100px;
    font-family: $bene_font_4;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.05em;
    text-align: center;
    width: fit-content;
    height: 150px;
    align-items: center;
    color: white;
    @include margin_align();
    .bene-logo {
      height: 134px;
    }
    span {
      cursor: pointer;
      transition: 300ms ease-out;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
.cred {
  background-color: $bene_beige-2;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 100px 0px;
  padding: 2rem calc((100% - 1280px) / 2);
  @include margin_align();

  div {
    padding: 0px 30px;
  }
  .quote {
    text-align: center;

    p {
      font-family: $bene_font_3;
      font-size: 11px;
      span {
        color: $bene_red;
      }
    }
    h1 {
      font-family: $bene_font_2;
      font-size: 20px;
      letter-spacing: 0.05rem;
    }
    h2 {
      font-family: $bene_font_3;
      font-size: 15px;
      color: $bene_red;
    }
    img {
      height: 25px;
    }
  }
}
.campaigns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem calc((100% - 1280px) / 2);
  @include margin_align();
}

.left {
  h1 {
    font-family: $bene_font_1;
    font-size: 58px;
    color: $bene_red;
  }
  p {
    font-family: $bene_font_3;
    font-size: 14px;
    max-width: 420px;
    margin-bottom: 40px;
  }
  h2 {
    font-family: $bene_font_1;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: black;
    opacity: 0.6;
    margin-top: 100px;
  }
}

.how-we-work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem calc((100% - 1280px) / 2);
  @include margin_align();
  background-color: $bene_beige-2;
  .act-now-checkout-phone {
    background-image: url(../assets/act-now-checkout-phone.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px;
    height: 500px;
  }
}

.campaign-list {
  align-self: center;
  justify-self: center;
  width: 420px;
  p {
    font-family: $bene_font_1;
    color: $bene_red;
    font-size: 13px;
    margin-block-end: 0px;
  }

  li {
    font-family: $bene_font_1;
    list-style-type: none;
    opacity: 0.65;
    font-size: 26px;
    cursor: pointer;
    padding: 10px 0px;
    transition: 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    backface-visibility: hidden;

    &:hover {
      font-size: 32px;
      opacity: 1;
    }
    span {
      color: $bene_red;
    }
  }

  ul {
    padding-inline-start: 0px;
    margin-block-start: 0px;
  }
}

.collabs {
  display: grid;
  grid-template-columns: 1fr;
  padding: 4rem calc((100% - 1280px) / 2);
  @include margin_align();
  .collabs-pictures {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 5vw);
    grid-auto-flow: dense;
    grid-gap: 50px;
    margin-top: 50px;
    .a-a {
      background-image: url("../assets/iha.jpg");
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
      background-size: cover;
      background-position: center;
    }
    .a-b {
      background-image: url("../assets/kerry\ 2.jpg");
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 4;
      background-size: cover;
      background-position: center;
    }
    .a-c {
      background-image: url("../assets/swiggy.png");
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-start: 1;
      grid-row-end: 3;
      background-size: cover;
      background-position: center;
    }
    .a-d {
      background-image: url("../assets/ilana\ 3.jpeg");
      grid-column-start: 7;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 4;
      background-size: cover;
      background-position: center;
    }

    .b-a {
      background-image: url("../assets/girl-sun.png");
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 5;
      background-size: cover;
      background-position: center;
      transition: 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    .b-b {
      background-image: url("../assets/propshop.jpeg");
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 4;
      grid-row-end: 6;
      background-size: cover;
      background-position: center;
    }
    .b-c {
      background-image: url("../assets/prabal\ .jpg");
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-start: 3;
      grid-row-end: 7;
      background-size: cover;
      background-position: center;
    }
    .b-d {
      background-image: url("../assets/nykaa\ -\ red\ option.png");
      grid-column-start: 7;
      grid-column-end: 9;
      grid-row-start: 4;
      grid-row-end: 6;
      background-size: cover;
      background-position: center;
    }
  }
}

.bene-video {
  padding: 4rem calc((100% - 1280px) / 2);
  background-color: $bene-beige-2;
}

.footer {
  display: grid;
  align-content: center;
  grid-gap: 1em;
  grid-area: footer;
  height: 80px;
  background-color: #f9f9f9;
  color: rgb(89, 89, 89);
  font-family: $bene_font_3;
  font-size: 11px;
  font-weight: 300;
  width: 100%;
  div {
    margin-left: auto;
    margin-right: auto;
    /* width: 250px; */
    text-align: center;
  }
  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 1440px) {
  .how-we-work {
    padding: 4rem 7rem;
  }
  .campaigns {
    padding: 4rem 7rem;
  }
  .collabs {
    padding: 4rem 7rem;
  }
  .bene-video {
    padding: 4rem 7rem;
  }
}

@media only screen and (max-width: 1180px) {
  .how-we-work {
    padding: 4rem;
  }
  .campaigns {
    padding: 4rem;
  }
  .collabs {
    padding: 4rem;
  }
  .bene-video {
    padding: 4rem;
  }
}

@media only screen and (max-width: 1280px) {
  .intro {
    background-color: $bene_red;

    justify-self: center;
    .intro-content {
      display: grid;
      justify-items: center;

      .brands-x-crisis {
        align-self: flex-end;
      }
    }
    .header {
      display: grid;
      grid-template-columns: auto auto 380px auto auto;
      grid-gap: 50px;
      font-family: $bene_font_4;
      font-weight: 600;
      font-size: 13px;
      letter-spacing: 0.05em;
      text-align: center;
      width: fit-content;
      height: 150px;
      align-items: center;
      color: white;
      @include margin_align();
      .bene-logo {
        height: 134px;
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .header-mobile {
    display: grid;
  }
  .intro {
    background-color: $bene_red;

    justify-self: center;
    .intro-content {
      display: grid;
      justify-items: center;

      .brands-x-crisis {
        align-self: flex-end;
      }
    }
    .header {
      display: none;
      grid-template-columns: auto auto 380px auto auto;
      grid-gap: 100px;
      font-family: $bene_font_4;
      font-weight: 600;
      font-size: 13px;
      letter-spacing: 0.05em;
      text-align: center;
      width: fit-content;
      height: 150px;
      align-items: center;
      color: white;
      @include margin_align();
      .bene-logo {
        height: 134px;
      }
    }
  }
  .how-we-work {
    grid-template-columns: 1fr;
    .act-now-checkout-phone {
      background-position: right;
      margin-top: -100px;
    }
  }
  .campaigns {
    grid-template-columns: 1fr;
  }
  .campaign-list {
    justify-self: right;
    margin-top: -100px;
  }
}

@media only screen and (max-width: 780px) {
  .how-we-work {
    grid-template-columns: 1fr;
    text-align: center;
    .act-now-checkout-phone {
      background-position: center;
      margin-top: -0px;
    }
  }

  .campaigns {
    text-align: center;
  }

  .campaign-list {
    margin-top: unset;
    justify-self: center;
    width: 100%;
    li {
      width: 100%;
    }
  }

  .left {
    p {
      width: 100%;
      max-width: unset;
    }
    h2 {
      margin-top: unset;
      margin: 50px;
    }
  }

  .cred {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }

  .intro {
    background-color: $bene_red;
    justify-self: center;
    .intro-content {
      display: grid;
      justify-items: center;

      .brands-x-crisis {
        align-self: center;
        margin-left: 0px;
        background-size: contain;
        width: 80%;
      }
    }
  }

  .collabs {
    text-align: center;
    .collabs-pictures {
      grid-gap: 30px;
    }
  }
}

@media only screen and (max-width: 640px) {
  .how-we-work {
    padding: 1rem;
    .left {
      h2 {
        margin-bottom: -10px;
      }
    }
  }
  .campaigns {
    padding: 1rem;
  }
  .collabs {
    padding: 1rem;
  }
  .bene-video {
    padding: 1rem;
  }
  .left {
    p {
      width: 100%;
      max-width: unset;
      font-size: 13px;
    }
    h2 {
      margin-top: unset;
      margin: 50px;
    }
    h1 {
      font-size: 34px;
    }
  }
  .campaign-list {
    li {
      font-size: 18px;
      &:hover {
        font-size: 24px;
      }
    }
    p {
      font-size: 11px;
    }
  }
  .collabs {
    text-align: center;
    .collabs-pictures {
      grid-gap: 20px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .intro {
    background-color: $bene_red;
    justify-self: center;
    .intro-content {
      display: grid;
      justify-items: center;
      margin-top: 4vh;
      .brands-x-crisis {
        align-self: center;
        padding: 0px 30px;
        box-sizing: border-box;
        background-image: url(../assets/brands-x-crisis-mobile.svg);
        width: 100%;
        height: 70vh;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 0px;
      }
    }
  }
}
